/* General styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Toolbar styles */
mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}

.menu-button {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s;
  margin: auto 5px;
}

.menu-title {
  color: white;
  transition: background-color 0.3s;
}

.menu-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.spacer {
  flex-grow: 1;
}

/* Background image styles */
.backgroung-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Container styles */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  max-width: 90%;
}

/* Responsive styles */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  .menu-button {
    font-size: 14px;
  }
}
