<img src="assets/background-img.png" class="backgroung-img">

<div class="center-container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input class="input-field" matInput formControlName="email" placeholder="Email" required>
          </mat-form-field>
          <mat-form-field>
            <input class="input-field" matInput type="password" formControlName="password" placeholder="Password" required>
          </mat-form-field>
          <button class="login-btn" mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  