<img [src]="imageSrc" class="backgroung-img">

<div *ngIf="gameStatus === 'start'">
    <mat-card-title>How old are your reactions?</mat-card-title>
    <mat-card-subtitle>When you see the STOP sign click or press any key to stop.</mat-card-subtitle>
    <mat-card-subtitle>We'll guess your age based on your reactions.</mat-card-subtitle>
    <p></p>
    <mat-card-subtitle>Press SPACE to start the game.</mat-card-subtitle>
</div>
<div><mat-card-title>{{gameStatus === 'stop' ? 'STOP' : ''}}</mat-card-title></div>
<div><mat-card-title *ngIf="gameStatus === 'win'">{{reactionText}} ms.</mat-card-title></div>
<div><mat-card-title *ngIf="gameStatus === 'lose'">Too early! You lost!</mat-card-title> </div>
