<img [src]="imageSrc" class="backgroung-img">

<div *ngIf="gameStatus === 'start'">
    <h1>How old are your reactions?</h1>
    <h1>When you see the STOP sign click or press any key to stop.</h1>
    <h1>We'll guess your age based on your reactions.</h1>
    <p></p>
    <h1>Press SPACE to start the game.</h1>
</div>
<div><h1>{{gameStatus === 'stop' ? 'STOP' : ''}}</h1></div>
<div><h1 *ngIf="gameStatus === 'win'">{{reactionText}} ms.</h1></div>
<div><h1 *ngIf="gameStatus === 'lose'">Too early! You lost!</h1> </div>
